<!DOCTYPE html> {% load staticfiles %}
<html lang="de">

<head>
  <meta charset="utf-8">
  <title>{% block titel %}{% endblock titel %}</title>

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
  <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <link rel="shortcut icon" type="image/gif" href="{% static 'images/favicon.ico' %}">
  {% block head %}{% endblock head %}
</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" name="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <li><a class="navbar-brand" href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a></li>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'anmelden:schüler_list' %}">Schüler Liste</a></li>
          <li><a href="{% url 'anmelden:schüler_create' %}">Schüler erstellen</a></li>
          <li><a href="{% url 'anmelden:rfid_list' %}">Rfid Liste</a></li>
          <li><a href="{% url 'anmelden:rfid_create' %}">Rfid erstellen</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_superuser %}
          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
          {% endif %} {% if user.is_authenticated %}
          <li><a href="{% url 'account:user' %}">{{user.username}}</a></li>
          <li><a href="{% url 'account:logout' %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
          {% else %}
          <li><a href="{% url 'account:login' %}"><span class="glyphicon glyphicon-user"></span> Login</a></li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      {% block content %}
      <h1>Platzhalter</h1> {% endblock content %}
    </div>
  </div>
</body>

</html>
